In [1]:
# Try your first Python output, print() is a function. 
#You passed the string 'Hello, Python!' as an argument to instruct Python on what to print

print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

sys is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly import it.

Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [3]:
type(2.14)

float

In [4]:
type("Hello, Python 101!")

str

In [5]:
type(-1)

int

In [6]:
float(2)

2.0

In [7]:
type(float(2))

float

In [8]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [9]:
# Convert a string into an integer

int('1')

1

In [10]:
type(True)

bool

In [11]:
type(6//2)

int

In [12]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [13]:
x

160

In [14]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [15]:
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

In [16]:
A[0:2]

(0, 1)

In [17]:
B=["a","b","c"]

In [18]:
B[0:2]

['a', 'b']

In [19]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [20]:
# Print the type of the tuple you created

type(tuple1)

tuple

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

In [21]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [22]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [24]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [25]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [26]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [27]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [28]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [29]:
# Get the length of tuple

len(tuple2)

5

In [30]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [31]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

Nested Tuple


A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [32]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [33]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [34]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [35]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [36]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [37]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [38]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [39]:
len(genres_tuple)

8

In [40]:
genres_tuple.index("disco")

#Find the first index of "disco"

7

In [41]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3)

C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [42]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [43]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [44]:
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [45]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [46]:
# List slicing

L[3:5]

['MJ', 1]

We can use the method extend to add new elements to the list

In [47]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is append. If we apply append instead of extend, we add one element to the list:

In [48]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

Each time we apply a method, the list changes. If we apply extend we add two new elements to the list. The list L is then modified by adding two new elements:

In [49]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [50]:
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [51]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [52]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [53]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [54]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

We can use the split function to separate strings on a specific character which we call a delimiter. We pass the character we would like to split on into the argument, which in this case is a comma. The result is a list, and each element corresponds to a set of characters that have been separated by a comma

In [55]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [56]:
# Clone (clone by value) the list A

B = A[:]
B

['hard rock', 10, 1.2]

In [57]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock